## Task1

### Q1.

Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:
The moving average sequence has n-k+1 elements as shown below.

The moving averages with k=4 of a ten-value sequence (n=10) is shown below

i 1 2 3 4 5 6 7 8 9 10

===== == == == == == == == == == ==

Input 10 20 30 40 50 60 70 80 90 100

y1 25 = (10+20+30+40)/4

y2 35 = (20+30+40+50)/4

y3 45 = (30+40+50+60)/4

y4 55 = (40+50+60+70)/4

y5 65 = (50+60+70+80)/4

y6 75 = (60+70+80+90)/4

y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [3]:
a = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
n =len(a)
k=3 #window size

In [4]:
def movingAvg(arr=[], n=13, k=3): 
    max = 0
    
    for i in range(n - k + 1): 
        max = arr[i] 
        for j in range(1, k): 
            if arr[i+j] > max: 
                max = arr[i + j] 
        print(str(max) + " ", end = "")

In [5]:
movingAvg([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150])

7 7 8 10 11 65 72 81 99 100 150

### Task2.....

### Q1. 
How-to-count-distance-to-the-previous-zero 

For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer) 

create a new column 'Y' 

Consider a DataFrame df where there is an integer column 'X' 

import pandas as pd 

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [17]:
import pandas as pd

#df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
#df["Y"]

### Q2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [7]:
a =pd.DataFrame(index=pd.date_range(start="2015-01-01", end="2015-12-31", freq='D'))

import numpy as np
a["X"] = np.random.randint(low = 1,high=10)
from pandas.tseries.offsets import *
c= a.asfreq(BDay())
c.head(10)

            X
2015-01-01  3
2015-01-02  3
2015-01-05  3
2015-01-06  3
2015-01-07  3
2015-01-08  3
2015-01-09  3
2015-01-12  3
2015-01-13  3
2015-01-14  3

### Q3.  Find the sum of the values in s for every Wednesday

In [18]:
c['Date'] = c.index

In [19]:
c['day_of_week'] = c['Date'].dt.day_name()

In [20]:
c.head(5)

            X       Date day_of_week
2015-01-01  3 2015-01-01    Thursday
2015-01-02  3 2015-01-02      Friday
2015-01-05  3 2015-01-05      Monday
2015-01-06  3 2015-01-06     Tuesday
2015-01-07  3 2015-01-07   Wednesday

In [11]:
d = c.loc[c['day_of_week'] == 'Wednesday']

In [12]:
e = d["X"].mean()

In [13]:
e

3.0

### Q4.  Average For each calendar month

In [27]:
#df['Month'] = df['Date'].dt.month
a.head(52)
a['Date'] = a.index
a.resample('M',how ='mean')

C:\Users\soura\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  after removing the cwd from sys.path.

            X
2015-01-31  3
2015-02-28  3
2015-03-31  3
2015-04-30  3
2015-05-31  3
2015-06-30  3
2015-07-31  3
2015-08-31  3
2015-09-30  3
2015-10-31  3
2015-11-30  3
2015-12-31  3

### Q5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [28]:
a.resample('Q',how ='mean')

C:\Users\soura\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

            X
2015-03-31  3
2015-06-30  3
2015-09-30  3
2015-12-31  3